REACT_APP_NETWORK=localhost
REACT_APP_RPC_URL=http://localhost:7545

TEST_CHARITIES=true
TEST_TOKENS=true

DEPLOYER_PRIVATE_KEY=

PROXY_ADMIN_OWNER=

DEVELOPMENTPOOL_ADDRESS=

REPORT_GAS=true

REACT_APP_ETHERSCAN_KEY=
REACT_APP_BLOCKNATIVE_DAPPID=
REACT_APP_GOOGLEANALYTICS_ID=

BINANCE_KEY=
BINANCE_SECRET=

EVENT_API_KEY=

DISCORD_WEBOOK=
UPKEEP_UPTIME_URL=
REWARD_UPTIME_URL=
