REACT_APP_NETWORK=localhost

TEST_CHARITIES=true
TEST_TOKENS=true

DEPLOYER_PRIVATE_KEY=

DEVELOPMENTPOOL_ADDRESS=

PROXY_ADMIN_OWNER=

REPORT_GAS=true

REACT_APP_ETHERSCAN_KEY=
REACT_APP_INFURA_ID=
REACT_APP_ALCHEMY_ID=
REACT_APP_BLOCKNATIVE_DAPPID=
REACT_APP_GOOGLEANALYTICS_ID=

BINANCE_KEY=
BINANCE_SECRET=

EVENT_API_KEY=

DISCORD_WEBOOK=
UPKEEP_UPTIME_URL=
REWARD_UPTIME_URL=
