REACT_APP_NETWORK=localhost
REACT_APP_RPC_URL=http://localhost:7545

NETWORK_ADDRESSES=localhost
SWAPPER_ADDRESSES=uniswap

REACT_APP_TEST_TOKENS=true
TEST_CHARITIES=true
TEST_FORK=
TEST_LOGGING=false
REMOVE_LOG_STATEMENTS=false
REPORT_GAS=true

DEPLOYER_PRIVATE_KEY=

PROXY_ADMIN_OWNER=

DEVELOPMENTPOOL_ADDRESS=

REACT_APP_ETHERSCAN_KEY=
REACT_APP_BLOCKNATIVE_DAPPID=
REACT_APP_GOOGLEANALYTICS_ID=

BINANCE_KEY=
BINANCE_SECRET=

EVENT_API_KEY=

DISCORD_WEBOOK=
UPKEEP_UPTIME_URL=
REWARD_UPTIME_URL=
